.history-table {
  margin: auto;
  text-align: center;
}

.history-table th, .history-table td {
  border: 1px solid black;
  padding: 5px 10px;
}

.history-table th {
  background-color: #e4e4e4;
}


body {
  font-family: Arial, sans-serif;
}
